name: CI

on: [push, pull_request]

env:
  NODE_VERSION: '14.x' # set the last LTS version

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ env.NODE_VERSION }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ env.NODE_VERSION }}
    - run: npm ci
    - run: npm run build --if-present
    - run: npm audit
    - run: npm install --save-dev mocha
    - run: npm test
